{% extends 'base.html' %}
{% block title %} | {{profile.first_name|title}}'s' Password Change {% endblock title %}

{% block header %} {% include 'header.html' %} {% endblock header %}

{% block carousel %} {% include 'carousel.html' %} {% endblock carousel %}

{% block content %}

<!-- main content -->
<div class="container mb-5">
    <h1 class="cap">Password Update</h1>
    <div class="row justify-content-center justify-content-md-around justify-content-lg-center text-center gy-5 text-warning pt-5 pb-5">
      <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4">
        <div class="card border-0">
          <img src="{{profile.pix.url}}" class="card-img-top rounded-circle mx-auto w-75 imge">
          <div class="card-body">
            <h5 class="card-title">Name:{{profile.first_name |title}}</h5>
          </div>
        </div>
      </div>
      <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5">
        <div class="profile-form px-lg-3">
          <form action="{% url 'password' %}" method="POST">
          {% csrf_token %}
              <div class="form-group">
                {{form.as_p}}
             
              </div>  
               <button type="submit" class="btn btn-primary">Update Password</button> 
          </form>
        </div>
      </div>
      <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">
        <ul class="list-unstyled callback">
          <li class="mb-3"><a href="{% url 'index' %}" class="btn w-75">home</a></li>
          <li class="mb-3"><a href="{% url 'products' %}" class="btn w-75">brands</a></li>
          <li class="mb-3"><a href="{% url 'profile' %}" class="btn w-75">profile</a></li>
          <li class="mb-3"><a href="{% url 'profile_update' %}" class="btn w-75">profile update</a></li>
          <li class="mb-3"><a href="{% url 'password' %}" class="btn w-75">update password</a></li>
        </ul>
      </div>
    </div>
</div>

<!-- main content done -->


  {% endblock content %}
  
  {% block footer %} {% include 'footer.html' %} {% endblock footer %}

